/* space-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/space-mono-v13-latin-regular.woff2") format("woff2");
}

/* space-mono-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/space-mono-v13-latin-700.woff2") format("woff2");
}

/* css reset styles */

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  min-height: 100vh;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a,
a:active,
a:visited {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* I - OS default or no preference,user switches mode */
body {
  --color-1: #f6f8ff;
  --color-2: #222731;
  --color-3: #697c9a;
  --color-4: #4b6a9b;
  --color-5: #ffffff;
  --color-6: #2b3442;
  --color-7: #222731;

  --box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

body.dark {
  --color-1: #141d2f;
  --color-2: #ffffff;
  --color-3: #ffffff;
  --color-4: #ffffff;
  --color-5: #1e2a47;
  --color-6: #ffffff;
  --color-7: #90a4d4;

  --box-shadow: unset;
}

/* II - OS dark mode selected,user switches mode */
@media (prefers-color-scheme: dark) {
  body {
    --color-1: #141d2f;
    --color-2: #ffffff;
    --color-3: #ffffff;
    --color-4: #ffffff;
    --color-5: #1e2a47;
    --color-6: #ffffff;
    --color-7: #90a4d4;

    --box-shadow: unset;
  }

  body.light {
    --color-1: #f6f8ff;
    --color-2: #222731;
    --color-3: #697c9a;
    --color-4: #4b6a9b;
    --color-5: #ffffff;
    --color-6: #2b3442;
    --color-7: #222731;

    --box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  }
}

/* common styles */
body {
  background-color: var(--color-1);
}

.wrapper {
  max-width: 45.625rem;
  margin-inline: auto;
}

/* *** MEDIA QUESRIES - TABLET *** */
@media screen and (max-width: 50em) {
  .wrapper {
    max-width: 35.8125rem;
  }
}

/* *** MEDIA QUESRIES - PHONE *** */
@media screen and (max-width: 25em) {
  .wrapper {
    max-width: 20.4375rem;
  }
}
